/* RESET */
* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* BACKGROUND */
body {
  margin: 0;
  background-color: #F7F3E8;
}

/* CENTER WRAPPER */
.auth-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.auth-card {
  width: 360px;
  background: #ffffff;
  padding: 24px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* TEXT */
.title {
  margin: 0;
  color: #111827;
}

.slogan {
  margin: 4px 0 14px;
  font-size: 14px;
  color: #6B7280;
}

.subtitle {
  margin-bottom: 18px;
  color: #6B7280;
}

/* INPUTS */
.auth-card input {
  width: 100%;
  height: 44px;
  padding: 0 14px;
  margin-bottom: 12px;
  border-radius: 12px;
  border: 1px solid #E5E7EB;
  font-size: 14px;
  outline: none;
}

/* BUTTON */
.auth-card button {
  width: 100%;
  height: 44px;
  background: #F5C84C;
  color: #1F2937;
  font-weight: 600;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  margin: 10px 0 14px;
}

/* LINK */
.link {
  text-align: center;
  font-size: 14px;
  color: #6B7280;
}

.link a {
  color: #111827;
  font-weight: 500;
  text-decoration: none;
}

.subtitle-title {
  margin: 0 0 6px;
  font-size: 18px;
  font-weight: 600;
  color: #374151;
}

.label {
  font-size: 14px;
  color: #374151;
  margin: 6px 0;
  display: block;
}

.auth-card select {
  width: 100%;
  height: 44px;
  padding: 0 14px;
  margin-bottom: 18px;
  border-radius: 12px;
  border: 1px solid #E5E7EB;
  font-size: 14px;
  background-color: #ffffff;
}
